div.wrapper {
  width: 90%;
  max-width: var(--width);
  margin: auto;
}

.articolo {
  padding: 48px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 48px;
}

.articolo img {
  border-radius: 6px !important;
  height: auto;
}

.articolo h1 {
  color: var(--accent);
  font-size: 2.2em;
  font-family: var(--slab);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
.articolo h2 {
  font-size: 1.4em;
}

.articolo a {
  color: var(--accent);
}

div.fondo {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.fondo .categorie {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 36px;
}

.fondo a.categoria {
  margin: 4px;
  white-space: nowrap;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.fondo a.categoria:hover {
  text-decoration: underline;
}

.fondo .social {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  flex-shrink: 0;
  color: rgb(var(--accent));
}

.fondo .social > * {
  margin: 4px 4px 0 0;
}

footer.footer {
  color: var(--accent);
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .articolo {
    padding: 36px;
  }
}

@media screen and (max-width: 600px) {
  div.fondo {
    flex-flow: column;
    align-items: baseline;
  }

  .fondo .social {
    margin-top: 24px;
  }
}

@media screen and (max-width: 450px) {
  .articolo {
    padding: 24px;
  }

  span.nascondiMobile {
    display: none;
  }
}
