div.wrapper {
  width: 90%;
  max-width: var(--width);
  margin: auto;
}

.articolo {
  padding: 48px;
  background-color: var(--foreground);
  border-radius: 16px;
  margin-bottom: 48px;
}

.articolo img {
  border-radius: 8px !important;
  height: auto;
}

.articolo h1 {
  font-size: 2.2em;
  font-family: var(--slab);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
.articolo h2 {
  font-size: 1.4em;
}

.articolo a {
  color: var(--accent);
}

.condividi {
  display: flex;

}

.categorie div {
  display: inline-block;
  margin-top: 48px;
}
.categorie div p {
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .articolo {
    padding: 36px;
  }
}

@media screen and (max-width: 450px) {
  .articolo {
    padding: 24px;
  }

  span.nascondiMobile {
    display: none;
  }
}
