:root {
  --width: 1200px;

  --background: #edf6fd;
  --foreground: #fff;
  --foreground-shadow: #aacfee;
  --text: #1e6299;
  --accent: #ec691f;

  --slab: "Arvo", serif;
  --sans-serif: "Lato", sans-serif;
}

/* Arvo e Lato sono i font scelti per l'identità del giornalino */
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


@import url("https://notizie.itis.biella.it/wp-includes/css/dist/block-library/style.min.css?ver=5.8.1");

html,
body {
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--sans-serif);
  font-weight: 300;
  background: var(--background);
  color: var(--text);
}

a {
  color: inherit;
}

p {
  text-align: justify;
}

.has-background {
  border-radius: 8px;
}

.wp-block-embed .wp-block-embed__wrapper,
figure.wp-block-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  width: 100%;
}

.wp-block-embed.is-type-video {
  display: flex;
  
  justify-content: center;
}

.wp-block-file__embed {
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  figure {
    flex-direction: column;
    width: 100% !important;
  }
}
