div.wrapper {
  width: 90%;
  max-width: var(--width);
  margin: auto;
}

.wrapper h1 {
  font-size: 2.2em;
  font-family: var(--slab);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}

.wrapperRicerca {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 12px;
}

.wrapperRicerca h2 {
  margin: 0;
  margin-bottom: 12px;
}

.wrapperRicerca #widgetRicerca {
  margin-bottom: 12px;
}



section.articoli {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  width: 100%;
}

.paginazione {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.paginazione a {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  text-decoration: none;
}

.paginazione a svg {
  margin: 0 2px;
}

@media screen and (max-width: 700px) {
  section.articoli {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 450px) {
  span.nascondiMobile {
    display: none;
  }
}
