div.wrapper {
  width: 90%;
  max-width: var(--width);
  margin: auto;
}

section.articoli {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  width: 100%;
}

.paginazione {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.paginazione a {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  background: var(--foreground);
  text-decoration: none;
}

.paginazione a svg {
  margin: 0 2px;
}

.paginazione a:hover {
  box-shadow: 5px 5px 15px var(--foreground-shadow);
}

@media screen and (max-width: 700px) {
  section.articoli {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 450px) {
  span.nascondiMobile {
    display: none;
  }
}
